@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rich-black: #0D1821;
  --anti-flash-white: #EFF1F3;
  --hooker-green: #4E6E5D;
  --lion: #AD8A64;
  --chestnut: #A44A3F;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
